.App {
  background-image: linear-gradient(to right, rgb(230, 152, 84) 50%, rgb(198, 224, 117) 50%);
}


.right-side{
  padding: 30px;
  text-align: right;
}


h6 {
  margin: 0;
  line-height: 1; 
  font-weight: 550;
}

.HOME{
  border: none; 
  background-color: transparent;
  padding-top: 40px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 600;
}


.MAIN{
  border: none; 
  background-color: transparent;
  padding-top: 40px;
  padding-right: 74px;
  font-size: 16px;
  font-weight: 600;
}

.head{
  padding-top: 0px;
  padding-bottom: 20px;
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.head{
  font-size: 60px;
  font-weight: 500;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  overflow: hidden;
}

.RecommendText{
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
  color: black;
}

.App-link {
  color: #61dafb;
}


#cd {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 10px solid black;

}

#play{
  border: 50%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
